
.txt_center{
  text-align: center;
}

.fl_right{
  float: right;
}


.bg_lightblue{
  background-color: lightblue;
}

.bg_lightgreen{
  background-color: lightgreen;
}

.bg_darkblue{
  background-color: darkblue;
}
.mg_custom{
  margin: 20px 0;
}
